Document fulfillment of WebTransport framework requirements

We should have a clear section that explains how Http2Transport fulfills the transport protocol requirements from the [WebTransport Overview](https://tools.ietf.org/html/draft-vvv-webtransport-overview-01)

```
   Any transport protocol used MUST use TLS [RFC8446] or a semantically
   equivalent security protocol (for instance, DTLS
   [I-D.ietf-tls-dtls13]).  The protocols SHOULD use TLS version 1.3 or
   later, unless they aim for backwards compatibility with legacy
   systems.

   Any transport protocol used MUST require the user agent to obtain and
   maintain explicit consent from the server to send data.  For
   connection-oriented protocols (such as TCP or QUIC), the connection
   establishment and keep-alive mechanisms suffice.  For other
   protocols, a mechanism such as ICE [RFC8445] can be used.

   Any transport protocol used MUST limit the rate at which the client
   sends data.  This SHOULD be accomplished via a feedback-based
   congestion control mechanism (such as [RFC5681] or
   [I-D.ietf-quic-recovery]).

   Any transport protocol used MUST support simultaneously establishing
   multiple sessions between the same client and server.

   Any transport protocol used MUST prevent the clients from
   establishing transport sessions to network endpoints that are not
   WebTransport servers.

   Any transport protocol used MUST provide a way for servers to filter
   clients that can access it by checking the initiating origin
   [RFC6454].

   Any transport protocol used MUST provide a way for a server endpoint
   location to be described using a URI [RFC3986].  This enables
   integration with various Web platform features that represent
   resources as URIs, such as Content Security Policy [CSP].
```
